/*set 2 times on the same element to prevent body set invalid in google interted html*/
body, .ski-resort-body{
    background-color: #1F1F1F;
}
.table-area{
    padding: 5px;
}
.ski-resort-table{
    border-spacing: 0;
}

#year{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:#F9F9F9;
}

.resort-padding-r{
    display: inline-block;
    margin-right:40px;
}
.mountain{
    height:30px;
    font-family: KaiTi;
    color:#F9F9F9;
}
.region{
    height:40px;
    vertical-align: bottom;
    font-family: KaiTi;
    color:#F9F9F9;
}

#resort{
    height:72px;
    border-top:1px solid #4CC9F0;
    border-bottom:1px solid #4CC9F0;
    text-align: center;
    font-weight: bold;
    font-size:24px;
    color:#F9F9F9;
    font-family: YouYuan;
}

.total-label{
    width:60px;
    height:48px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:#F9F9F9;
    text-align: right;
    padding-right: 6px;
}
#sf-total{
    width:200px;
    font-weight: bold;
    font-size: 28px;
    color:#F9F9F9;
    padding-left:8px;
}
.monthly-label{
    text-align: right;
    padding-right: 6px;
    font-size:14px;
    color:#F9F9F9;
}
.monthly-value{
    font-size:14px;
    color:#F9F9F9;
    padding-left: 8px;
}
#note{
    height:40px;
    border:1px solid #4CC9F0;
    text-align: center;
    font-size:12px;
    color:#F9F9F9;
}

.border-l{
    border-left: 1px solid #4CC9F0;
}
.border-r{
    border-right: 1px solid #4CC9F0;
}
.border-b{
    border-bottom: 1px solid #4CC9F0;
}